SConstruct.options
.sconsign.dblite
build
*_nocona
*_nocona_debug

*.gz

*.ncb
*.suo
*.user
Debug
Release
.emacs_project_config
*.o
Test_[0-9]*

*.bbl
*.blg
*.dvi
*.ps
*~
a.out
Public_Data
tmp-gdb-cmd-args.txt
Projects/Water/water
Projects/Smoke/smoke
Projects/Smoke/smoke_debug
output
